version := "{{artifactVersion}}"
name := "{{artifactId}}"
organization := "{{groupId}}"
scalaVersion := "2.13.11"

resolvers +=
  "Apache Snapshots" at "https://repository.apache.org/content/repositories/snapshots"

libraryDependencies ++= Seq(
  "org.apache.pekko" %% "pekko-stream" % "{{pekkoVersion}}",
  "org.apache.pekko" %% "pekko-http" % "{{pekkoHttpVersion}}"
)
